# Virtual Environment
medisign_env/
venv/
env/
.env

# Node.js
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Models & Data (often too large for Git)
models/*.keras
models/*.h5
dataset/

# Logs & Audio
logs/
audio/
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Temporary files
/tmp/
.gemini/
